In [1]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float
import pandas as pd

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/employee_db')
Base.metadata.create_all(engine)

/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [4]:
# Create a bar chart of average salary by title.
data = engine.execute("select titles.title, avg(salaries.salary) as average_salary from titles join emp on emp.emp_no = titles.emp_no join salaries on salaries.emp_no = emp.emp_no group by titles.title order by average_salary").fetchall()
for record in data:
    print(record)

('Assistant Engineer', Decimal('48493.204785827604'))
('Senior Engineer', Decimal('48506.751805626598'))
('Engineer', Decimal('48539.781423093311'))
('Technique Leader', Decimal('48580.505772148559'))
('Manager', Decimal('51531.041666666667'))
('Staff', Decimal('58465.271903604585'))
('Senior Staff', Decimal('58503.286614325870'))

In [5]:
data_df = pd.DataFrame(data)

In [6]:
data_df.rename(columns={0:'Title',
            1:'Average_Salary'}, 
            inplace=True)

In [13]:
data_df['Average_Salary'].astype(float)

0    48493.204786
1    48506.751806
2    48539.781423
3    48580.505772
4    51531.041667
5    58465.271904
6    58503.286614
Name: Average_Salary, dtype: float64

In [20]:
data_df.Average_Salary.dtype

dtype('O')

In [22]:
data_df.plot.bar(x='Title', y='Average_Salary', rot=45)

TypeError: Empty 'DataFrame': no numeric data to plot